body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Barra Lateral */

.baina-lateral {
  background: #143944;
  color: #f2f2f2;
  min-width: 200px;
  min-height: 100vh;
  padding: 0;
}

.baina-lateral .logo {
  background: #0f83a7;
  margin-bottom: 2px;
}

.baina-lateral .logo h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 20px 0;
  font-weight: 300;
}

/* Menu */

.baina-lateral .menu a {
  display: block;
  padding: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid rgba(255, 255 255, .1);
  color: #f2f2f2;
}

.baina-lateral .menu a:hover {
 background: #b30e2a;
 text-decoration: none;
}

.baina-lateral .menu a i {
  margin-right: 20px;

  
}

/* Main */
.main {
  padding-top: 30px;
}

.main .columna {
  padding-left: 20px;
  padding-right: 20px;
}

.main .titulo {
  color: #0f83a7;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.main .widget {
  margin-bottom: 40px;
}

/* Main Post Nuevo */

.main .widget form input[type="text"],
.main .widget form textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.main .widget form input[type="text"] {
  font-weight: 400;
}

.main .widget form textarea{
  height: 200px;
  min-height: 200px;
  max-height: 400px;
  max-width: 100%;
  min-width: 100%;
}

.main .widget form button {
  background: #37924e;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 10px;
  width: 200px;
  display: inline-block;
  border-radius: 3px;
  transition: all .3s ease;
  
}

.main .widget form button:hover {
  background: #db9c13;
  
}

/* Main Estadisticas*/
.main .estadisticas .contenedoraso {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .2);
}

.main .estadisticas .cajota {
  background: #fff;
  border: 1px solid #795e62;
  padding: 30px 10px;
  flex: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.main .estadisticas .cajota h3 {
  margin-bottom: 20px;
  color: #117c58;
}

.main .estadisticas .cajota p {
  margin-bottom: 0px;
  color: #121468;
}

.main .estadisticas .cajota:first-child {
  border-right: none;
}

.main .estadisticas .cajota:last-child {
  border-left: none;
}

/* Main Comentarios*/

.main .comentarios .contenedoraso {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #dfdfdf;
}

.main .comentarios .contenedoraso .imagen{
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 100px;
}

.main .comentarios .contenedoraso .imagen a {
  display: inline-block;
}

.main .comentarios .contenedoraso .imagen img {
  width: 100%;
}

.main .comentarios .ccontenedoraso .texto {
  flex: 1;
}

.main .comentarios .contenedoraso .texto {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  
}

.main .comentarios .contenedoraso .botones button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: none;
  
}

.main .comentarios .contenedoraso .botones .aprobar{background: rgb(57, 193, 235)}
.main .comentarios .contenedoraso .botones .eliminar {background: rgb(11, 204, 137)}
.main .comentarios .contenedoraso .botones .bloquear{background: rgb(79, 86, 88)}

.main .comentarios .contenedoraso .botones .aprobar:hover{background: rgb(170, 22, 42)}

.main .comentarios .contenedoraso .botones .eliminar:hover{background: rgb(25, 54, 184)}

.main .comentarios .contenedoraso .botones .bloquear:hover{background: rgb(112, 134, 12)}

/* Mediaquieries */
@media screen and (max-width:575px) {
  .baina-lateral{
    min-height: auto;
  }
.main .widget form button {
width: 100%;
  }
}